#directory.ui.raised.very.padded.text.container.segment
  %h1.ui.header Module 5 Links
  %ol
    %li= link_to "Board Index", board_index_path
    %li= link_to "Board Chat", board_chat_path
    %li= link_to "Phone Remote", phone_remote_path
    %li= link_to "Phone Hello", phone_hello_path

  