#directory.ui.raised.very.padded.text.container.segment
    %h1.ui.header Module 4
    %ol
        %li= link_to "Pokedex", vignettes_pokedex_path
        %li= link_to "GPS Logger", vignettes_geocode_path
        %li= link_to "Sightings", vignettes_sightings_path
    
    